

.hero {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:
  url('./Images/Hero/simone-hutsch-CymuL2gpkaE-unsplash.jpg');
  background-size: cover;
}

p {
  font-weight: 800;
  font-size: 18px;
}

.hero-title {
  text-align: center;
  color: #f8f8ff;
  font-size:30px;
}

.box {
  background-color:  rgba(255, 255, 255, 0.2);
  padding: 5px;
  font-weight: 600;
}

.contact {
  height: 200px;
  
}

.projects {
  margin: 20px;
  height: 600px;
}

.portfolio-image {
 width: 48%;
 height: 48%;
 padding: 3px;
 border-radius: 5%; 
}

.portfolio-image:hover {
  transform: scale(1.2); 
  transition: .5s ease;
}

li:hover {
  transform: scale(1.1); 
  transition: .2s ease;
}

.card {
  width: 320px;
  margin: 10px;
}


.carousel-wrapper{
  height:500px;
  position:relative;
  margin: 20px;
}
.carousel-item{
  position:absolute;
  width: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }

[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
    
    background-size:cover;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
  }
.item-2{
   
   background-size:cover;
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 15px;
}
.item-3{
   
   background-size:cover;
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 15px;
}

.item-4{
  
  background-size:cover;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}


*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  }


  html, body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav {
    width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }
  
  .nav li {
    list-style: none;
    display: inline-block;
    height:30px;
    padding: 2px;
  }
  
  .nav .link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-family: Sans-serif;
    color: white;
    margin: 10px;
  }
  
  .blocks {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: #acdde1;
  }
  






