body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-color: #f5f5f5;
}

.hero {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.9)),
  url('https://images.unsplash.com/photo-1532423622396-10a3f979251a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80');
  background-size: cover;
}

.hero-title {
  text-align: center;
  color: #4a4a4a;
  font-size:30px;
  text-shadow: 1px 1px white;
  font-family: "Amatic SC";
}

.contact {
  height: 200px;
  
}

.projects {
  margin: 30px;
  height: 600px;
}


img:hover {
  transform: scale(1.5); 
  transition: .5s ease;
}



.carousel-wrapper{
  height:500px;
  position:relative;
  width:1150px;
  margin: 0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
    
    background-size:cover;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
.item-2{
   
   background-size:cover;
   background-color: rgba(0, 0, 0, 0.2);
   border-radius: 15px;
}
.item-3{
   
   background-size:cover;
   background-color: rgba(0, 0, 0, 0.2);
   border-radius: 15px;
}

.item-4{
  
  background-size:cover;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}


*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  }